<div class="container">
    <h4>Formularios <small>template</small></h4>
    <hr>
    <form novalidate="" (ngSubmit)="save(formT)" #formT="ngForm">

        <div>

            <div class="form-group row" [ngClass]="{'has-danger': name.errors?.required || name.errors?.pattern}">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col-8">

                    <input class="form-control" type="text" placeholder="Nombre" [(ngModel)]="user.name" name="name" required minlength="5" #name="ngModel">
                </div>

                <div *ngIf="name.errors?.required" class="form-control-feedback">
                    campo requerido
                </div>
                <div *ngIf="name.errors?.pattern" class="form-control-feedback">
                    formato de correo invalido {{ name.errors?.pattern }}
                </div>

            </div>

            <div class="form-group row" [ngClass]="{'has-danger': lastname.errors?.required || lastname.errors?.pattern}">
                <label class="col-2 col-form-label">Apellido</label>
                <div class="col-8">
                    <input class="form-control" type="text" [(ngModel)]="user.lastname" name="lastname" placeholder="Apellido" minlength="8" required #lastname="ngModel">
                </div>
                <div *ngIf="lastname.errors?.required" class="form-control-feedback">
                    campo requerido
                </div>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Correo</label>
            <div class="col-md-8">

                <input class="form-control" type="email" [(ngModel)]="user.email" name="email" placeholder="Correo electrónico" required pattern="[a-z0-9._%+-]+@[a-z9-0.-]+\.[a-z]{2,3}$">
            </div>
        </div>



        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
            </div>
        </div>

    </form>
</div>